@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/blockkie-2');
@import url('http://fonts.cdnfonts.com/css/nulshock');

@font-face {
    font-family: 'Robberto';
    src: url('../fonts/Roobert-Regular.woff')format('woff');
    font-style: normal;
    font-weight: 400;
}
* {
  margin: 0;                           /*start on the left without border */
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html,
body {
    overflow-x: hidden;
}
body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

button,
input,
textarea,
select {
    font: inherit ;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
img,
video,
canvas,
svg {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
/*----Variables---*/
$applebg-color: #F2F2F2;
$light-grey-color: rgba(128, 128, 128, 0.856);
$medium-grey-color: rgba(128, 128, 128, 0.616);
$dark-grey-color: rgba(128, 128, 128, 0.598);
$grey-color: grey;
$black-color: black;
$white-color: white;
$red-color: red;
// $blue-color: #2196f3;
$green-color:rgb(11, 206, 11);
// $orange-color: #f44336;
$orange-color: #D9B47D;
$blue-color: #B1C9E1;
$dark-blue-color: #060b11;
$box-shaddow-blue1: rgba(31, 38, 135, 0.27);
$box-shaddow-blue2: rgba(31, 38, 135, 0.67);

/*---- Predifined Classes-----------------*/
.sction{
    padding: 1rem;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 5rem;
    @media (min-width: 650px){
        padding: 5rem;
    }
}